<!-- an about page for the site contains basic information about our site -->
<%-include("layouts/header")%>

<div class="about">
    <header>
        <h1>About Us</h1>
    </header>

    <div class="container">
        <h2>Our Story</h2>
        <p>
            <!--Essential Information about the website-->
            Welcome to Local Service Marketplace!
            We believe in the power of local connections. Our platform is more than just a marketplace; it's a community that brings together skilled service providers and discerning customers right here in your locality.
            <br><br>
            <b>Our Mission:</b><br>
            Empowering Local Talent: We are on a mission to empower local talent and help them thrive by providing a platform where they can showcase their skills and connect with customers in their own community.
            <br><br>
            <b>What Sets Us Apart:</b>
            Local Focus: We're not just another marketplace; we're a local community hub. We understand the unique needs of our city/region and cater specifically to the tastes and preferences of our community.
            Quality Assurance: Every service provider on our platform undergoes a rigorous vetting process to ensure that you receive top-notch services. Your satisfaction is our priority.
            <br><br>
            <b>How It Works:</b>
            Discover: Explore a diverse range of services offered by talented individuals in your community. From home maintenance to personal wellness, we have it all.
            
            Connect: Connect directly with service providers. Ask questions, discuss your needs, and make informed decisions.
            
            Book with Confidence: Once you've found the perfect service provider, book with confidence. Our secure platform ensures a smooth and safe transaction.
            
            Join Us in Building a Stronger Community!
            Whether you're a skilled service provider or someone seeking quality services, 'Local Service Marketplace' is your go-to destination. Join us in building a stronger, more connected community. Together, we can make local services better and more accessible than ever before.
            Feel free to adapt the content based on the unique features and goals of your local service marketplace.
            <br><br>
        </p>

        <!--Here is our team-->
        <h2>Meet Our Team</h2>
        <div class="team">
            <div class="team-member">
                <h2>Ashish</h2>
                <p>Founder</p>
            </div>

            <div class="team-member">
                <h2>Deepak</h2>
                <p>Co-Founder</p>
            </div>
    
        </div>
        <br><br>
    </div>
</div>
<%-include("layouts/footer")%>