<!-- contact details of site owners / developers like us dont share confidential details only share contact details like email ids and names etc -->
<%-include("layouts/header")%>
<!--Section: Contact v.2-->
<section class="row">

    <!--Section heading-->
    <header>
        <h1>Contact Us</h1>
    </header>
    <!--Section description-->
    <p class="container">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>
    
    <div class="row">

        <p class="para">+91 6793745019 <br> support@marketplace.com</p>
        <!--Grid column-->
    </div>

</section>
<!--Section: Contact v.2-->
<%-include("layouts/footer")%>