<!-- contact details of site owners / developers like us dont share confidential details only share contact details like email ids and names etc -->
<%-include("layouts/header")%>
<h1>Contact</h1>
<%-include("layouts/footer")%>