<!-- can contains a big image and a brief about our site like about page but here it must be less wordy and more visual  -->
<%-include("layouts/header")%>
<h1 class="row">Home services at your <br> doorstep </h1>
<div class="jumbotron text-center">
    <p>What are you looking for?</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img src="/images/Electrician.jpg"  alt="Picture not available">
          <br>
          <p class="pic-desc">Electrician</p>
        </div>
        <div class="col-sm-4">
          <img src="/images/Barber.jpg" alt="Picture not available">
          <p class="pic-desc">Barber</p>
        </div>
        <div class="col-sm-4">
          <img src="/images/ACRepair.png" alt="Picture not available">
          <p class="pic-desc">AC Repair</p>
        </div>
        <div class="col-sm-4">
          <img src="/images/Cleaning.png" alt="Picture not available">
          <p class="pic-desc">Cleaning</p>
        </div>
        <div class="col-sm-4">
          <img src="/images/Plumber.jpg" alt="Picture not available">
          <p class="pic-desc">Plumber</p>
        </div>
        <div class="col-sm-4">
          <img src="/images/Furniture.png" alt="Picture not available">
          <p class="pic-desc">Furniture</p>
        </div>
      </div>
  </div>
<%-include("layouts/footer")%>