<!-- can contains a big image and a brief about our site like about page but here it must be less wordy and more visual  -->
<%-include("layouts/header")%>
<h1>Home</h1>
<%-include("layouts/footer")%>