<!-- here a form is needed for provider to fill inputs required will decided afterwards -->
<%-include("layouts/header")%>
<h1>Form for Service Providers</h1>
<form method="post" action="/provide_service">
    <label for="name">Name</label>
    <input required name="name" type="text">
    <label for="pno">Whatsapp Contact No.</label>
    <input required name="pno" type="number">
    <label for="email">Email</label>
    <input required name="email" type="email">
    <label for="category">Specialization Category</label>
    <input required name="category" type="text">
    <label for="city">City where you can provide Doorstep Services</label>
    <input required name="city" type="text">
    <label for="description">Brief Description of past work</label>
    <textarea required name="description" rows="5"></textarea>
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
</form>
<%-include("layouts/footer")%>