/* custom style sheet for the whole website*/
form input,textarea{
    width: 100%;
    padding: 5px;
}
form{
    margin: 50px;
}
a{
    color: black;
    text-decoration: none;
}
.about{
    margin: 25px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #353333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.container p {
    font-size: 14px;
    line-height: 1.6;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.team-member {
    width: 48%;
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.team-member h2 {
    font-size: 20px;
    margin: 10px 0;
}

.row{
    margin: 25px;
    align-items: center;
}

#div-form{
    margin-left: 100px;
}

.para{
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#btn{
    border:solid black 2px;
}

#btn:hover{
    background-color: rgb(233, 245, 241);
}